<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
      .provinces {
          background-color: #fff;
          border: 1px solid #ccc;
      }
      .hk {
          position:relative;
          left:-750px;
          top:0px;
      }

      /*
      .background {
        fill: none;
        pointer-events: all;
      }

      .province {
        fill: #cde;
        stroke: #fff;
          stroke-linejoin: round;
        stroke-linecap: round;
      }
      */

      /*#provinces .active, #states .active {
        fill: #89a;
      }
      #cities {
        stroke-width: 0;
      }
      .city {
        fill: #345;
        stroke: #fff;
      }
      pre.prettyprint {
        border: 1px solid #ccc;
        margin-bottom: 0;
        padding: 9.5px;
      }*/
  </style>
</head>
<body>
<div id="map"></div>
<div class="d3-tip n" style="position: absolute; opacity: 0; pointer-events: none; top: 14px; left: 142px;"><strong>Frequency:</strong> <span style="color:red">0.12702</span></div>
<script>

    // MAP setup
    var width = 800, height = 550;
    var data = <%=raw(@provinceCount)%>;
    // data goes here
    //TO_BE_CHANGED
    var title='',desc='',credits='',units='';

</script>

</body>
</html>